1 motorSpacing(mm)     760 
2 beltLength(mm)       2945
3 beltPitch(mm)        5.08 
4 gearReduction        0.0625 
5 stepReduction        0.125
6 stepsPerRotation     200
7 notchesPerRotation   16
8 delayPerStep(millis) 2 
9 serialAddress        /dev/ttyACM0
